<% layout('./layouts/boilerplate.ejs') %>
<body>
    <h1>All Listings </h1> <br>

    <!-- <form method="GET" action="/listings/new">
        <button>Create new listing</button>
    </form> -->

    <% for(let listing of allListings){%>
        <ul>
            <li><a href="/listings/<%=listing.id%>"><%= listing.title %></a></li>
        </ul>
    <%}%>
    
</body>


