<%- layout("./layouts/boilerplate.ejs") %>
<body>
<br>
<div class="row">
    
    <div class="col-8 offset-2">
    <h3>Create new listing</h3> <br>
       
    <form method="POST" action="/listings" novalidate class="needs-validation">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Enter title" id="title" class="form-control"
            required>

            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Invalid</div>
           
        </div>

        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <textarea rows="4" name= "listing[description]" placeholder="Enter description" class="form-control" id="desc" required></textarea> 

            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Invalid</div>
        </div>

        <div class="mb-3">
            <label for="img" class="form-label">Image URL</label>
            <input type="text" name="listing[image][url]" placeholder="URL" class="form-control" id="img">  
            
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Invalid</div>
        </div>

        <div class="row">

        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="" class="form-control" id="price" type="text"
            required>

            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Invalid</div>
        </div>

        <div class="mb-3 col-md-8" >
            <label for="country"class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="India" class="form-control" id="country" required> 

            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Invalid</div>
        </div>

        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="Jhansi, Uttar Pradesh" class="form-control" id="location" required>

            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Invalid</div>
        </div>

        <br><br>

        <button type="submit" class="btn btn-dark add-btn">Add</button> <br><br>
    </form>
    </div>

</div>
</body>
